/* .App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

 .wrapper {
   display: flex;
   flex-flow: row nowrap;
   /* flex-direction: row;
   flex-wrap: nowrap; */
   font-weight: bold;
   text-align: center;
   height: 100%;
 }

 .wrapper > * {
   flex: 1 100%;
 }

 .sidebar-nav{
   /* background: #623149; */
   /* background: #5c4878; /*purple color theme*/
   width: 100%;
   height: 6%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
 }

 .filter{
   /* background: black; */
   background-color: rgba(0,0,0,0.4);
   /* color: white; */
   /* font-color:white; */
 }

 .player{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   width: 50%;
 }

  /* @media all and (min-width: 600px) {
   .bar { flex: 1 0 auto; }
 }
  @media all and (min-width: 800px) {
   .main    { flex: 50; }
   .spritebar { order: 1; }
   .main    { order: 2; }
   .soundbar { order: 3; }
   .canvas { order: 1;}
   .controlbar { order: 2;}
 } */

 .vwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  height: 100%;
}

  #app-bar {
    border-bottom: 1px solid white;
  }

  #row2 {
     /* background-color: green; */
     flex: 1 1 auto;
     display: flex;
  }
    #spritebar {
      /* background: #D2AEAF; */
      /* background: #1d0018; */
      /* background: #5c4878; /*purple color theme*/
      /* flex: 1 0; */
      background-color: rgba(0,0,0,0.4);
      width: 13%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
    }

    #sprite-scroll {
      /* background: #D2AEAF; */
      /* background: ##5c4878; /*purple color theme*/
      /* background: #ad99ad; */
      /* background-image: url('https://media.istockphoto.com/vectors/abstract-geometric-background-with-connecting-dots-and-lines-vector-id917696188'); */
      color: white;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    #sound-scroll {
      /* background: #D2AEAF; */
      /* background-image: url('https://media.istockphoto.com/vectors/abstract-geometric-background-with-connecting-dots-and-lines-vector-id917696188'); */
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      font-size: 12px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    #main {
      /* background: white; */
      flex-grow: 5;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    #testdiv{
      /* background-image: url('https://media.istockphoto.com/vectors/abstract-geometric-background-with-connecting-dots-and-lines-vector-id917696188'); */
      /* background: lightgray; */
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
    }

    div.header{
      color: white;
    }

    .canvas {
      flex-grow: 4;
      flex-shrink: 1;
      /* display: flex;
      flex-flow: row nowrap;
      justify-content: center; */
      /* border: 1px dotted #623149; */
    }

      #controlbar {
        /* background: #623149; */
        background-color: rgba(0,0,0,0.4);
        height: 20%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }

      .control-canvas {
        /* background: red; */
        height: 80%;
        width: 20%;
      }

    #soundbar {
      /* background: #D2AEAF; */
      /* background-image: url('../svg/geometry.jpg'); */
      /* background: #5c4878; /*purple color theme*/
      background-color: rgba(0,0,0,0.4);
      width: 13%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      font-size: large;
    }

    #small-text{
      font-size: large;
    }

    @media all and (min-width: 800px) {
     #spritebar { order: 1; }
     #main    { order: 2; }
     #soundbar { order: 3; }
     .canvas { order: 1;}
     #controlbar { order: 2;}
   }

   .list-item{
     background-color: rgba(0,0,0,0.1);
   }

   .hover05 figure img {
	margin-left: 30px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover05 figure:hover img {
	margin-left: 0;
}

#audioplayer{
	width: 480px;
	height: 60px;
	margin: 50px auto auto auto;
  border: solid;
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
	width: 400px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);

}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}

.hover01{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01-hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Style The Dropdown Button */
.dropbtn {
    background: rgba(0, 0, 0,0.3);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    flex-grow: 1
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    background: rgba(0, 0, 0,0.3);
    position: relative;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    flex-grow: 1;
    display: none;
    /* position: absolute; */
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

 html, body, #root{
   background-image: url('../svg/tribe2.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   margin: 0;
   /* padding: 0; */
   /* width: 100%; */
   height: 100%;
 }
